.h_title {
    text-align: center;
    font-family: var(--Marcellus-font);
    font-size: 38px;
    letter-spacing: 0.1em;

    &.-fs1 {
        font-family: var(--Marcellus-font);
        font-size: 28px;
    }
}

.view_more {
    text-align: center;

    .splitting {
        cursor: pointer;
    }

    a {
        font-family: var(--Marcellus-font);
        font-size: 16px;
        letter-spacing: 0.1em;
        display: inline-block;

        .arrow_right {
            position: relative;
            top: -3px;
            display: inline-block;
            width: 0;
            height: 0;
            border-top: 8px solid transparent;
            border-bottom: 8px solid transparent;
            border-left: 8px solid #5a5a5a;
            margin-left: 15px;
        }
    }

    //

    .slide-vertical {
        .char {
            overflow: hidden;
            color: transparent;

            &:before,
            &:after {
                visibility: visible;
                color: #5a5a5a;
                transition: transform 0.8s cubic-bezier(0.9, 0, .2, 1);
                transition-delay: calc(0.2s + (0.02s * (var(--char-index))));
            }

            &:before {
                color: #00a45c;
                transition-delay: calc(0.02s * (var(--char-index)));
            }
        }

        &:hover .char:before {
            transition-delay: calc(0.2s + (0.02s * (var(--char-index))));
        }

        &:hover .char:after {
            transition-delay: calc(0.02s * (var(--char-index)));
        }
    }

    .slide-vertical {
        .char:before {
            transform: translateY(100%);
        }

        &:hover .char:before {
            transform: translateY(0%);
        }

        &:hover .char:after {
            transform: translateY(-100%);
        }
    }

    //
}

/* Header */
#header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
}

h1 {
    margin-left: 9.1%;
    margin-top: 9px;

    a {
        display: block;
    }
}

.header {
    &_inner {
        width: 100%;
        padding: 11px 40px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &_link {
        display: flex;
        width: 130px;
        justify-content: space-between;
        position: relative;

        &_item {
            a {
                padding: 5px 10px;
                display: inline-block;
                transition: all .3s linear;

                &:hover {
                    opacity: 0.7;
                }
            }
        }

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 30px;
            width: 1px;
            background: #fff;
        }
    }
}
.menu{
    width: 100px;
}
.menu_icon {
    position: fixed;
    top: 22px;
    left: 44px;
    display: block;
    width: 50px;
    height: 50px;
    cursor: pointer;

    &::after {
        content: "MENU";
        position: absolute;
        left: calc(100% + 10px);
        top: 53%;
        transform: translateY(-50%);
        font-family: var(--Marcellus-font);
        color: #fff;
        font-size: 14px;
        letter-spacing: 0.05em;
    }

    span {
        display: block;
        width: 35px;
        height: 2px;
        background: #fff;
        transition: all .3s linear;

        &:nth-child(1) {
            position: absolute;
            top: 35%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &:nth-child(2) {
            position: absolute;
            top: 55%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &:nth-child(3) {
            position: absolute;
            top: 75%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &.active {
        span {
            &:nth-child(1) {
                top: 50%;
                transform: translate(-50%, -50%) rotate(35deg);
            }

            &:nth-child(2) {
                display: none;
            }

            &:nth-child(3) {
                top: 50%;
                transform: translate(-50%, -50%) rotate(-35deg);
            }
        }
    }

    &.scroll {
        span {
            background: #000;
        }

        &::after {
            color: #000;
        }
    }
}

/*start mainvisual */
#mainvisual {
    .inner {
        width: 100%;
        max-width: 100%;
    }
}

.mainvisual {
    &__inner {
        margin: auto;
        max-width: 1240px;
        width: 100%;
        padding: 0 20px;
        display: flex;
    }

    .swiper {
        width: 100%;
        height: 100vh;
        min-height: 600px;
        position: relative;
    }

    .swiper-slide {
        font-size: 18px;
        min-height: 100vh;
        display: flex !important;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.7);
            z-index: 1;
        }
    }

    &_img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        animation: zoom 4.5s linear forwards;
    }

    &__content {
        color: #fff;
        width: 60%;
        position: relative;
        z-index: 2;
        margin-right: -15vw;

        &__title {
            font-size: 100px;
            line-height: 1;
            font-weight: 400;
            font-family: var(--garamond-font);
            animation: title linear 1.5s;
        }

        &__text {
            font-size: 20px;
            font-family: var(--Serif-font);
            letter-spacing: 0.05em;
            font-weight: 500;
            display: inline-block;
            margin-top: 54px;
        }

        &__img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    &__small {
        width: 62.5%;
        position: relative;
        z-index: 1;
        overflow: hidden;
        img {
            animation: zoom 4.5s linear forwards;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}


@keyframes title {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes zoom {
    from {
        transform: scale(1) translateX(0);
    }

    to {
        transform: scale(1.08) translateX(20px);
    }
}

.splitting .char {
    animation: slide-in 0.35s cubic-bezier(.5, 0, .5, 1) both;
    animation-delay: calc(55ms * var(--char-index));
}

@keyframes slide-in {
    from {
        transform: translateY(-1em) rotate(-1.5turn) scale(0.5);
        opacity: 0;
    }
}

// scroll
.mainvisual__scroll {
    position: absolute;
    bottom: 15px;
    height: 50px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    z-index: 10;
}

.mainvisual__scroll__text {
    font-family: var(--Marcellus-font);
    font-size: 12px;
    letter-spacing: 0.1em;
    color: #fff;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: calc(100% + 15px);
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #fff;
    }
}


/*end mainvisual */

// contenet
#news {
    padding: 95px 0 102px;

    .inner {
        max-width: 100%;
        width: 100%;
    }
}

.news {
    &_list {
        display: flex;
        margin-top: 49px;
        margin-bottom: 67px;
        &_item {
            width: 25%;
            border-bottom: 1px solid #cccccc;
            transition: all .3s linear;

            &:not(:last-child) {
                border-right: 1px solid #cccccc;
            }

            &:hover {
                background: #d5d5d5;

                img {
                    transform: scale(1.1);
                }
            }
            a {
                display: flex;
                flex-direction: column;
                position: relative;
                height: 100%;
            }

            figure {
                overflow: hidden;

                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: all .3s linear;
                }
            }
        }

        &_cat {
            font-size: 14px;
            font-weight: bold;
            color: #b3b3b3;
            margin-bottom: 13px;
            display: inline-block;
        }

        &_text {
            padding: 22px 26px 43px;
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &_title {
            font-size: 18px;
            line-height: 1.78;
            font-weight: 500;
            overflow: hidden;
            margin-bottom: 18px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }

        &_date {
            text-align: right;
            position: relative;

            span {
                padding-left: 20px;
                position: relative;
                z-index: 1;
            }

            &::before {
                content: "";
                position: absolute;
                width: calc(100% - 100px);
                height: 1px;
                background: #999999;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}

// concept
#concept {
    padding: 112px 0 112px;
    background: #f2f5ed;

    .inner {
        max-width: 100%;
        width: 100%;
    }
}

.concept {
    &_fit {
        font-family: var(--Serif-font);
        font-weight: 500;
        letter-spacing: 0.1em;
        font-size: 28px;
        line-height: 1.7;
        text-align: center;
        margin-top: 29px;
        margin-bottom: 61px;
    }

    &_info {
        max-width: 1000px;
        width: 100%;
        margin: 60px auto 0;
        padding: 0 50px;
        line-height: 2.53;
        .view_more{
            a{
                .arrow_right{
                    top: -12px;
                }
            }
        }
    }

    &_desc {
        margin-bottom: 55px;
    }

    &_thumail {
        max-width: 1380px;
        width: 100%;
        margin: 0 auto;
        padding: 0 40px;
        position: relative;

        &_item {
            display: flex;
            align-items: flex-start;
            padding-right: 11.2vw;

            &.end {
                justify-content: flex-end;
                margin-top: 6.4vw;
                padding-right: 0;
                padding-left: 21.3vw;
            }

            img {
                display: block;
            }

            .first {
                margin-right: 6.7vw;
            }

            .sercon {
                margin-left: 8vw;
                margin-top: -15vw;
            }

            &.left {
                position: absolute;
                width: 24.3%;
                left: 7vw;
                top: 33%;
                padding: 0;
            }

            &.right {
                position: absolute;
                width: 26%;
                right: 26.9vw;
                top: 12.4%;
                padding: 0;
                display: unset;
            }
        }
    }

}

#wedding {
    padding: 113px 0 122px;

    .inner {
        max-width: 100%;
        width: 100%;
    }
}

.wedding {
    &_content {
        text-align: center;
        line-height: 2.5;
        margin: 39px 0 74px 0 !important;
    }

    &_contain {
        position: relative;
        display: block;

        figure {
            overflow: hidden;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background: rgba(0, 0, 0, 0.35);
                transition: all .5s linear;
                opacity: 0;
                z-index: 1;
            }
        }

        img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
            transition: all .5s linear;

        }

        &:hover {
            img {
                transform: scale(1.06);
            }

            figure {
                &::before {
                    opacity: 1;
                }
            }
        }
    }

    &_item {
        &:nth-child(even) {
            margin-top: 70px;
        }
    }

    &_slogan {
        font-family: var(--Serif-font);
        font-size: 20px;
        font-weight: 500;
        line-height: 2.4;
        position: absolute;
        top: 0;
        left: 30px;
        background: #fff;
        writing-mode: vertical-rl;
        padding: 16px 0;
    }

    &_desc {
        text-align: center;
        font-size: 14px;
        margin-top: 34px;
    }

    &_swiper {
        margin-bottom: 100px;
    }
}

.c-pallarax {
    height: 650px;
}

.parallax__container {
    position: absolute;
    clip: rect(0px, auto, auto, 0px);
    width: 100%;
    height: 100%;
    top: 0px;
    right: 0px;
    z-index: -10;
}

.parallax {
    position: fixed;
    width: 100%;
    height: 100% !important;
    top: 0px;
    left: 0px;
}

.parallax--bg {
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}



#report {
    padding: 114px 0 142px;

    .inner {
        max-width: 1000px;
    }
}

.report {
    &_desc {
        text-align: center;
        margin: 36px 0 67px;
        line-height: 2.5;
    }

    &_swiper {
        margin-top: 62px;
    }
}

#contract {
    .inner {
        max-width: 100%;
        width: 100%;
    }
}

.contract {
    &_layout {
        &_list {
            display: flex;
            justify-content: space-between;

            &:not(:last-child) {
                margin-bottom: 2px;
            }

            &.custom {
                .contract_layout_item {
                    width: calc((100% / 3) - 1px);
                }

                .contract_layout_content {
                    padding: 26.1% 0;
                }
            }
        }

        &_item {
            width: calc(50% - 1px);
            position: relative;
            display: flex;
            overflow: hidden;

            &:hover {
                img {
                    transform: scale(1.08);
                }

                &::before {
                    background: rgba(0, 0, 0, 0.65);
                }
            }

            img {
                position: absolute;
                width: 100%;
                height: 100%;
                transition: all .4s linear;
                top: 0;
                left: 0;
                z-index: 1;
            }

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.35);
                z-index: 2;
                transition: all .4s linear;
            }
        }

        &_content {
            padding: 28.1% 0;
            margin: auto;
            position: relative;
            z-index: 3;
            font-size: 38px;
            letter-spacing: 0.1em;
            font-family: var(--Marcellus-font);
            color: #fff;
            text-align: center;

            span {
                letter-spacing: 0.1em;
                font-family: var(--Serif-font);
                font-size: 14px;
                display: block;
            }
        }
    }

    &_follow {
        background: #f2f5ed;
        padding: 116px 0 134px;
        max-width: 1800px;
        width: 100%;
        margin: 148px auto 0;
    }

    &_img {
        margin: 82px 0 90px;

        ul {
            display: flex;
            width: 100%;

            a {
                display: block;
                height: 100%;
                overflow: hidden;

                &:hover {
                    img {
                        transform: scale(1.08);
                    }
                }
            }

            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all .3s linear;
            }
        }

        &_item {
            width: calc(100% / 6);
        }

    }

    &_icon {
        max-width: 430px;
        width: 90%;
        margin: 0 auto;

        a {
            display: block;
            transition: all .3s linear;

            &:hover {
                opacity: 0.7;
            }
        }

        &_list {
            display: flex;
            justify-content: space-between;
        }
    }

    &_info {
        margin-top: 112px;

        &_title {
            font-size: 28px;
            letter-spacing: 0.1em;
            line-height: 1.7;
            font-weight: 500;
            font-family: var(--Serif-font);
            text-align: center;
            margin-bottom: 63px;
        }
    }

    &_contain {
        display: flex;
    }

    &_col {
        width: 50%;

        a {
            display: flex;
            padding: 22.4% 0;
            justify-content: center;
            align-items: center;
            color: #fff;
            position: relative;
            overflow: hidden;
            text-align: center;
            cursor: pointer;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.5);
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                transition: all .3s linear;
            }

            &:hover {
                img {
                    transform: scale(1.08);
                }
            }
        }

        &_title {
            font-family: var(--Serif-font);
            font-size: 32px;
            font-weight: 500;
            letter-spacing: 0.1em;
            line-height: 1.5;
            position: relative;
            z-index: 1;

            span {
                font-family: var(--Marcellus-font);
                font-size: 14px;
                letter-spacing: 0.1em;
                margin-top: 20px;
                display: block;
            }
        }
    }
}

// slider1
.swiper1 {
    width: 100vw;
    height: 90px;
    overflow: hidden;
    background-image: linear-gradient(to right, #1ba283, #e4f40b);

    .swiper-wrapper {
        transition-timing-function: linear;

        a {
            color: #fff;
            font-size: 26px;
            letter-spacing: 0.5em;
            height: 100%;
            display: flex;
            font-family: var(--Serif-font);
            justify-content: center;
            align-items: center;
        }
    }
}

// slider2
.swiper2 {
    width: 100vw;
    height: auto;
    overflow: hidden;

    .swiper-wrapper {
        transition-timing-function: linear;
    }
}

// footer
#footer {
    background: #fff;
    padding: 49px 0 12px;
}

.footer {
    &_inner {
        width: 96%;
        max-width: 1020px;
        margin: 0 auto;
    }

    &_col {
        &_item {
            margin-bottom: 18px;

            &.diff {
                margin-bottom: 0;
            }
        }
    }

    &_content {
        display: flex;
        justify-content: space-between;
        margin-top: 56px;

        &_link {
            font-size: 18px;
            letter-spacing: 0.1em;
            line-height: 1.75;
            padding-left: 30px;
            position: relative;

            &.target {
                font-size: 16px;
                font-weight: 300;
                padding-left: 0;
                display: block;

                &:not(:last-child) {
                    margin-bottom: 12px;
                }

                &::before {
                    display: none;
                }
            }

            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 10px;
                width: 10px;
                height: 1px;
                background: #5a5a5a;
            }

            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0;
                height: 1px;
                background: #5a5a5a;
                transition: all .3s linear;
            }

            &:hover::after {
                width: 100%;
            }
        }

        &_contact {
            font-size: 16px;
            font-weight: 300;
            margin-top: 58px;
            letter-spacing: 0.1em;

            span {
                font-size: 18px;
                color: #6E6E6E;
                display: inline-block;
                width: 120px;
                padding-left: 10px;
            }

            &.blank {
                display: flex;
            }
        }

        &_phone {
            font-size: 26px;
            letter-spacing: 0.1em;
            margin: 0 10px;
        }
    }

    &_logo {
        a {
            display: block;
            text-align: center;

            span {
                text-align: center;
                display: block;
                font-weight: 500;
                font-family: var(--Serif-font);
                font-size: 24px;
                letter-spacing: 0.1em;
                color: #09a55c;
                line-height: 1.1;
            }
        }
    }

    &_address {
        font-size: 11px;
        letter-spacing: 0.1em;
        padding: 57px 0 5px;
        text-align: center;
        font-style: normal;
    }
}

// slider section party report
.swiper {
    &-container {
        overflow: hidden;
        width: 100%;
        height: 100%;

        .swiper-button-prev,
        .swiper-button-next {
            position: unset;
            margin: 0;
            width: unset;
        }
    }

    &_tools {
        position: relative;
        display: flex;
        justify-content: end;
        align-items: center;
    }

    &_arrow {
        width: 60px;
        display: flex;
        justify-content: space-between;
    }

}

.swiper-pagination {
    width: unset !important;
    position: unset !important;
    margin-left: 37px;
    font-size: 13px;
    margin-right: 21px;
    letter-spacing: 0.1em;
}

.swiper-progress-bar {
    width: 120px;
    display: inline-block;
    z-index: 1;
    height: 1px;
    position: relative;

    .slide_progress-bar {
        position: absolute;
        height: 2px;
        background: #e6e6e6;
        width: auto;
        clear: both;
        opacity: 0;
        left: 0;
        right: 0;

        &:after {
            position: absolute;
            top: 0;
            left: 0;
            background: #5a5a5a;
            height: 100%;
            width: 0;
            content: "";
            transition: 0.1s width linear;
        }
    }

    &.active {
        .slide_progress-bar {
            opacity: 1;
        }
    }

    &.animate {
        .slide_progress-bar {
            &:after {
                transition: width linear;
                transition-delay: unset;
                width: 100%;
                transition-duration: 4s;
            }
        }
    }
}